body {
  color: #fff;
  
}
.box {
  background: #2db34a;
  
  cursor: pointer;
  height: 95px;
  line-height: 95px;
  text-align: center;
  -webkit-transition-property: background, width;
  transition-property: background, width;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  width: 95px;
}
.box:hover {
  background: #ff7b29;
  width: 200%;
}
