/* CSS for the moving background */
body
{
 background:white;
 overflow:hidden;
}

.drawingpix 
{
    z-index: -21;
    position:absolute; 
    top:-50px; 
    left:-50px;
}

.modalDialog
{
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target
{
    opacity: 1;
    pointer-events: auto;
}

.modalDialog > div
{ 
    height: 200px;
    width: 430px;
    position:relative; 
    margin: 10% auto;
    padding 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
    background-image: url(Paw.png);
    background-repeat: no-repeat;
}

.close
{
    background: #606061;
    color #FFFFFF;
    line-height: 50px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 50px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000; 
}
.close:hover
{ 
    background: #0000CC;
}

#ThankYou
{
    height: 100px;
    width: 400px;
    font-size: 60px;
    position: fixed;
    left: 50%;
    margin-left: -200px;
    text-align: center;
}

#JamesContainer
{
    height:130px;
    width: 500px;
    position: fixed;
    left: 15%;
    top: 100px;
}

#Lead1
{
    font-size: 40px;
    text-decoration: underline;
    font-family:monospace;
    text-align: center;
    font-weight: bold;
}

#JonathanContainer
{
    height:130px;
    width: 440px;
    position: fixed;
    left: 52%;
    top: 100px;    
}

#Lead2
{
    font-size: 40px;
    text-decoration: underline;   
    font-family: monospace;
    text-align:center;
    font-weight: bold;
}

#FurchasContainer
{
    height: 100px;
    width: 350px;
    position: fixed;
    left: 05%;
    top: 250px;
}
#Chair1
{
    font-size: 25px;
    text-decoration: underline;
    font-family: monospace;
    text-align: center;
    font-weight: bold;
}
#SabaContainer
{
    height: 100px;
    width: 350px;
    position: fixed;
    left: 24%;
    top: 250px;
    
}
#Chair2
{
    font-size: 25px;
    text-decoration: underline;
    font-family: monospace;
    text-align: center; 
    font-weight: bold;
}

#LynchContainer
{
    height: 100px;
    width: 350px;
    position: fixed;
    left: 43%;
    top: 250px; 
    z-index: 
}
#Chair3
{
    font-size: 25px;
    text-decoration: underline;
    font-family: monospace;
    text-align: center; 
    font-weight: bold;
}

#FulmerContainer
{
    height: 100px;
    width: 400px;
    position: fixed;
    left: 66%;
    top: 250px;    
}
#Chair4
{
    font-size: 25px;
    text-decoration: underline;
    font-family: monospace;
    text-align: center;
    font-weight: bold;
}

#RestOfPeople
{
    width: 1380px;
    position: fixed;
    top: 440px;
    left: 40px
}
#Rest
{
    text-decoration: underline;
    font-family: monospace;
    text-align: center;
    font-size: 40px;
    left: -65;
    padding-bottom: 15px;
    font-weight: bold;
}
